@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

.logistics-block {
  height: 1000px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d83f29;

  position: relative;

  @media (max-width: 768px) {
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    position: absolute;
    left: 41px;
    top: 515px;
    writing-mode: vertical-rl;
    transform: scale(-1);

    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 100%;

    letter-spacing: -4.8px;

    color: #ffffff;

    @media (max-width: 850px) {
      position: static;
      display: none;
    }
  }

  .couting-map-wrapper {
    width: 71.77083333333333%;
    height: 840px;
    display: flex;
    position: relative;

    @media (min-width: 1920px) {
      width: 1378px;
    }

    @media (max-width: 850px) {
      width: 95%;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 832px;
      flex-direction: column;
    }

    .block-loading {
      .loader-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        width: 60px;
        height: 60px;

        .Loader {
          width: 100%;
          height: 100%;
          border: 10px solid #162534;
          border-top-color: #4bc8eb;
          border-block-color: #f13a8f;
          border-radius: 50%;
          animation: rotate 5s linear infinite;
        }

        .Loader-inner {
          border-top-color: #36f372;
          border-bottom-color: #fff;
          animation-duration: 2.5s;
        }

        @keyframes rotate {
          0% {
            transform: scale(1) rotate(360deg);
          }
          50% {
            transform: scale(0.8) rotate(-360deg);
          }
          100% {
            transform: scale(1) rotate(360deg);
          }
        }
      }
    }

    .couting-price {
      background-color: #161515;
      width: 31.93033381712627%;
      min-height: 800px;
      align-self: flex-end;
      z-index: 1;
      position: relative;

      @media (max-width: 1400px) {
        width: 320px;
      }

      @media (max-width: 768px) {
        width: 100%;
        min-height: 512px;
      }

      &__loading {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 21, 21, 0.75);
        z-index: 1;
      }

      h2 {
        display: none;
        width: 80%;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;

        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 100%;

        letter-spacing: -1.8px;

        color: #ffffff;

        @media (max-width: 850px) {
          display: block;
          width: 90%;
        }
      }

      p {
        margin-top: 43px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;

        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;

        letter-spacing: -0.8px;

        color: #ffffff;

        @media (max-width: 768px) {
          margin-top: 24px;
          width: 90%;

          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #ffffff;
        }
      }

      .inputs-address-couting {
        margin-top: 59px;
        margin-left: auto;
        margin-right: auto;
        height: 163px;
        width: 80%;
        border-bottom: 1px solid #ffffff;

        @media (max-width: 768px) {
          width: 90%;
          margin-top: 43px;
        }

        .input-delivery {
          margin-top: 35px;
        }

        .text-field__input {
          outline: none;
          display: block;
          width: 100%;
          height: calc(2.25rem + 2px);
          padding: 0.375rem 0.75rem;
          font-family: inherit;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #acacac;
          background-color: inherit;
          background-clip: padding-box;
          border: 1px solid #acacac;
          transition: border-color 0.15s ease-in-out;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }

        .text-field__input[type="search"]::-webkit-search-decoration,
        .text-field__input[type="search"]::-webkit-search-cancel-button,
        .text-field__input[type="search"]::-webkit-search-results-button,
        .text-field__input[type="search"]::-webkit-search-results-decoration {
          -webkit-appearance: none;
        }

        .text-field__input::placeholder {
          color: #212529;
          opacity: 0.4;
        }

        .text-field__input:focus {
          color: #acacac;
          background-color: inherit;
          outline: 0;
        }

        .text-field__input:disabled,
        .text-field__input[readonly] {
          background-color: inherit;
          opacity: 1;
        }

        .text-field_floating-2 {
          position: relative;
        }

        .text-field_floating-2 .text-field__input {
          height: 52px;
          padding: 0.5rem 0.75rem;
        }

        .text-field_floating-2 .text-field__label {
          position: absolute;
          top: 50%;
          left: 10px;
          display: flex;
          transform: translateY(-50%);
          pointer-events: none;
          border: none;
          background-color: #161515;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;

          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #acacac;
        }

        .text-field_floating-2 .text-field__input::-moz-placeholder {
          color: transparent;
        }

        .text-field_floating-2 .text-field__input::placeholder {
          color: transparent;
        }

        .text-field_floating-2 .text-field__input:focus ~ .text-field__label,
        .text-field_floating-2
          .text-field__input:not(:placeholder-shown)
          ~ .text-field__label {
          top: 0;
        }
      }

      .delivery-results {
        width: 80%;
        height: 383px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 768px) {
          width: 90%;
          height: 107px;
        }

        &__toprow {
          display: flex;
          justify-content: space-between;

          @media (max-width: 1400px) {
            flex-direction: column;
          }

          @media (max-width: 768px) {
            flex-direction: row;
          }
        }

        &__toprowleft {
          display: none;
        }

        &__toprowright {
          display: none;

          @media (max-width: 1400px) {
            margin-top: 20px;
          }

          @media (max-width: 768px) {
            margin-top: 0;
          }
        }

        &__bottomrow {
        }

        &__distance-title {
          display: block;

          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #acacac;
        }

        &__distance-value {
          margin-top: 8px;
          display: block;

          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #ffffff;

          @media (max-width: 768px) {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;

            letter-spacing: -0.8px;

            color: #ffffff;
          }
        }

        &__price-title {
          display: block;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #acacac;
        }

        &__price-value {
          margin-top: 8px;
          display: block;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #ffffff;

          @media (max-width: 768px) {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;

            text-align: right;
            letter-spacing: -0.8px;

            color: #ffffff;
          }
        }

        &__bottomrow {
          width: 100%;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;

          letter-spacing: -0.8px;

          color: #acacac;

          @media (max-width: 768px) {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;

            letter-spacing: -0.8px;

            color: #acacac;
          }
        }
      }
    }

    .couting-map {
      width: 74.16545718432511%;
      min-height: 800px;
      background-color: #fff;
      z-index: 0;
      position: absolute;
      right: 0;

      @media (max-width: 768px) {
        width: 100%;
        min-height: 320px;
        bottom: 0;
      }

      &__loading {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 21, 21, 0.75);
        z-index: 1;
      }
    }
  }
}
